#body_site{

	width: 80%;
	 margin:auto;
	 background-color:#334e23; 
}
#head{

height: 5px;
	
}
#main_header{
	margin-bottom: 10px;
}
#main_side_header{
	margin-top: 10px;
	border-bottom: 20px;
	height: 60px; 
}
#task_header{

margin-top: 60px;
margin-bottom: 100px;
height: 120px;

}
#task_header{
width: 100%;
text-align: center;
background-color:#3f1d39; 
margin:auto;	
color: white;
font-family:"Arial", sans-serif;
}
#bar{
	color: white;
	margin-left: 6%;
	font-family:"Arial", sans-serif;
	font-size: 16px;
}
hr{
	width: 25%;
	margin-left: -3%; 
}
#l_list{
	margin: -0.5%;
	border: 0px;
	padding: 0px;
	color: #522530;
	font-family:"Arial Black", sans-serif;
}
#article_text{
	background-color: #c180ad;
	margin: auto;
	margin-top: -13%; 
	width: 40%;
	padding: 10px;
	border-radius: 10px; 
	font-family:"Arial", sans-serif;
}
#article_title{
	background-color:#3f1d39;
	text-align: center; 
	color: white;
	border-radius: 10px; 
}
#text_data{
	letter-spacing: 1px;
	font-size: 14px;
	border-radius: 10px; 

}
#article_text2{
	background-color: #c180ad;
	margin: auto;
	margin-top: 1%; 
	width: 40%;
	padding: 10px;
	border-radius: 10px; 
	font-family:"Arial", sans-serif;
}
#content_footer{
	background-color: #522530;
	color: white;
	text-align: center;
	border-radius: 10px; 
	}
aside{
	position: relative;
	float: right;
	margin-top: -31%;
}
figcaption{
	text-align: center;
	color: white;
	font-family:"Arial", sans-serif;
}
#main_footer{
	background-color: #522530;
	color: white;
	text-align: center;
	font-size: 14px;
	margin-top: 10px;
	height: 20px; 
	font-family:"Arial", sans-serif;
}