body{
    background-color:#334e23;
    width: 1200px;
    margin:0  auto;
    font-family:"Arial Black", sans-serif;
}
header {
    margin: 5px;
    padding: 3px;
    background-color:#3f1d39;
    color: white;
    border-radius: 0px;
    text-align: center;
}
article > header{
    margin: 5px;
    padding: 3px;
    background-color:#3f1d39;
    color: white;
    border-radius: 10px;
    text-align: center;
} 
h1{
    position: relative;
    top: 10px;
}
h2{
    position: relative;
    bottom: 10px;
}
section{
    width: 1200px;
    margin:0  auto;
}
nav{
    text-align: center;
    width: 300px;
    position: relative;
    float: left;
    color: white;
}
main{
    position: relative;
    margin-left:300px;
    margin-right: 300px;
    width: 600px  
    
}
aside{
    position: relative;
    float: right;
    bottom: 400px;
}
p{
    text-align: left;
    margin-left:10px; 
}
article{
    margin: 5px;
    padding: 3px;
    background-color: #c180ad;
    border-radius: 10px;

}
li{
    text-align: left;
    color: #522530;
    list-style-type: none;
    margin-left: 20px;
}
footer{
    margin: 5px;
    padding: 3px;
    background-color: #522530;
    color: white;
    border-radius: 10px;
    text-align: center;

}
figcaption{
    text-align: center;
    color: white;
}
#underground{
    position: relative;
    padding-left: 320px;
    border-radius: 0px;
}

